<html lang='en' ng-app='COMET'>
	<head>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic" />
		<link rel="stylesheet" href="css/style.css" />

		<meta name="viewport" content="initial-scale=1">
	</head>
	<body layout="column" ng-controller="appCtrl">
		<md-toolbar layout="row">
	      <div class="md-toolbar-tools">
	        <h1>{{title}}</h1>
	      </div>
    	</md-toolbar>
    <md-content class="md-padding">
	    <h3>{{formData.form.title}}</h3>
    		<md-whiteframe class="md-whiteframe-z1" layout layout-align="left" style="padding-left:10%;border-radius:20px">
	    		<form action="" method="">
	    			<input type="hidden" name="id" value="{{formData.form.id}}">
	    			<ul class="container">
	    				<li ng-repeat="field in formData.fields" class="item">
	    					<md-input-container>
	    						<label>{{field.label}}</label>
	    						<input type="{{field.type}}" size="{{field.maxlength}}" name="{{field.id}}" ng-model="field.value"/>
	    					</md-input-container>
	    				
	    				<div ng-if="field.type=int">
	    						<label>{{field.label}}</label>
	    						<comet-int></comet-int>
	    				</div>
	    				</li>
	    			 </ul>
	    			</div>
	    			<input type="submit" value="send data"/>
	    		</form>
	    	</md-whiteframe>

      </md-content>
	
	      <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    <script src="js/app.js"></script>

</section>
  </body>

	</body>
</html>